<h1>Create a New Topic and Entry</h1>
<%= form_for @entry do |f|%>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :topic_id%>
  <%= f.label :date%>
        <%= f.date_field :date%><br>
        <%= f.label :content%>
        <%= f.text_area :content%><br>
        <p>Select a Topic that already exists</p>
        <%=f.collection_select :topic_id, Topic.all, :id, :title %><br>

        <p>Or create a new Topic</p>
        <%=f.fields_for :topic do |topic_form|%>
            <%= topic_form.label :title%>
            <%=topic_form.text_field :title%><br>
    <%end%>
<%= f.submit "Create New Entry"%>
<%end%>
