<h1>Create New Entry</h1>
 <%= form_for [@topic, @entry] do |f|%>

  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this Entry from being saved:</h2>
      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :date%>
        <%= f.date_field :date%><br>
        <%= f.label :content%>
        <%= f.text_area :content%><br>
        <p>Add a keyword to make your entry searchable:</p>
        <%= f.label :keyword%>
        <%= f.text_field :keyword%><br>

        
<%= f.submit%>
<%end%>

