<h2>Create a new Topic for an area of wellness you'd like to focus on</h2>

<%=form_for @topic do |f|%>

<% if @topic.errors.any? %>
  <div id="error_explanation">
    <h3>That Topic all ready exists, try a new title.</h3>
    <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <%= f.label :title%>
    <%=f.text_field :title%>
   
    <%=f.submit "Create New Topic"%>
<%end%>